@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root {
    --bg-color: #fff0f6;
    --text-color: #333;
    --button-bg-color: #ff4d6d;
    --button-text-color: #fff;
    --button-no-bg-color: #f44336; /* red для "No" */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
    background-color: var(--bg-color);
    overflow: hidden;
    touch-action: none;
}
